<p>
    Hi {{name}},
</p>
<p>
    This is a notification to let you know that the website <a href="{{websiteUrl}}">{{websiteUrl}}</a> is down.
</p>
<p>
  You can find out more in your dashboard at <a href="https://downtime-watchdog.vercel.app/">Downtime Watchdog</a>.
</p>

